<!DOCTYPE html>
<html>

<head>
    <title>Confetti Cuisine</title>
    <link rel="stylesheet" href="/css/confetti_cuisine.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="nav">
        <div class="col-sm nav-align">
            <h1>Confetti Cuisine</h1>
        </div>
        <div class="col-sm nav-align">
            <a href="/">
                <span class="button">Home</span>
            </a>
            <a href="/courses">
                <span class="button">Courses</span>
            </a>
            <a href="/subscribers">
                <span class="button">Subscribers</span>
            </a>
            <a href="/users">
                <span class="button">Users</span>
            </a>

            <div class="login">
                <br>

                <% if (loggedIn) { %>
                    <p>Logged in as <a href="<%= `/users/${currentUser._id}`%>">
                            <%= currentUser.name.first %>
                            <%= currentUser.name.last %>
    
                        </a>
                        <a href="/users/logout">
                            <span class="button">Log out</span>
                        </a>
                    </p>
                    <%} else { %>
                        <a href="/users/login">
                            <span class="button">Log in</span>
                        </a>
                    <% } %>
            </div>
        </div>
    </div>

    <div class="flashes">
        <% if(flashMessages){ %>
            <% if(flashMessages.success){ %>
                <div class="flash success">
                    <%= flashMessages.success %>
                </div>
                <% } else if(flashMessages.error){ %>
                    <div class="flash error">
                        <%= flashMessages.error %>
                    </div>
                    <% } %>
                        <% } %>
    </div>

    <br>    <br>

    <div class="container">
        <%- body %>
    </div>
</body>

</html>